<li class="an_order" id="{{key}}">
  <img style="float:left; margin: 0px 15px 5px 0px;" align="top" src="https://image.eveonline.com/Type/{{type_id}}_64.png">
  <div style="float: right;" class="order_pie"></div>

  <div style="margin: 5px 0px 5px 0px;">
    <span><b>{{system_name}}</b> {{term}} order by {{character_name}} outbid.</span>
    <br/>
    <b>{{type_name}}</b>
    <br/>
    <span class="{{klass}}">Profit: {{profit}}</span> -
    <span>Chg %: {{price_change_profit_pct}}</span>
  </div>
  <span style="clear: both;" />
</li>
